# Database Configuration
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=satit_helpdesk
APP_TIMEZONE=Asia/Bangkok

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN_HERE
TELEGRAM_CHAT_ID=YOUR_CHAT_ID_HERE
TELEGRAM_FORCE_IPV4=true
TELEGRAM_PROXY_URL=
TELEGRAM_SSL_VERIFY=false
